<!DOCTYPE HTML>
<meta charset="utf-8">
<link rel="stylesheet" href="static/bb.css">
<title>bb</title>

<p>
{% for x in ["web", "hub", "log"] %}
<a href="{{ x }}_status" target="_blank">{{ x }}</a>
{% end %}
</p>

<p>
<a href="hub" target="_blank">HUB</a>
</p>

<form action="t">
    <input name="_" value="1">
    <input name="_" value="token">
    <input type="submit" value="gen token">
</form>

<p>{{ qsize }}</p>
<p>{{ list(staffs.keys()) }}</p>
<p>{{ list(wheels.keys()) }}</p>

<p>
<form method="post">
    <select name="cmd" size="{{ len(options) }}">
        {% for b in options %}
        <option>{{ b }}</option>
        {% end %}
    </select>
    <input type="submit" value="Go">
</form>
</p>

