* {
    /* Fantasy, Cursive, Monospace, Serif, Sans-serif; */
    font-family: Monospace, Serif, Sans-serif;
}

body {
    margin: 5% 5% 5% 5%;
    padding: 2% 5% 5% 5%;
    background-color: #eeeeee;
}

code {
    font-family: Monaco, Monospace;
}

a {
    text-decoration: none;
}

table {
    font-size: 12px;
    border-width: 1px;
    border-collapse: collapse;
}

table th {
    border-width: 1px;
    border-style: solid;
    background-color: #dedede;
}

table td {
    border-width: 1px;
    padding: 6px;
    border-style: solid;
}

select,
input,
textarea {
	padding: 4px;
	border: 1px solid #aaa;
	border-radius: 1px;
}

select:hover,
input:hover,
textarea:hover {
	outline: none;
	border: 1px solid #dd212b;
	box-shadow: 0 0 5px #ed1b24;
}

select:focus,
input:focus,
textarea:focus {
	outline: none;
	border: 1px solid #00bce9;
	box-shadow: 0 0 5px #2da1ec;
}
