
body {
    margin: 5% 5% 5% 5%;
}

a {
    text-decoration: none;
}

table td.I {
    background-color: lime;
}
table td.O {
    background-color: red;
}
table td.E {
    background-color: lightgray;
}
table td.f1 {
    text-align: center;
}
table td.f2 {
    text-align: right;
}
table td.f3 {
    font-family: Monaco, Monospace;
    font-size: 11px;
    padding: 0% 2%;
    width: 100%;
}

