{# vim:se filetype=html.tornadotmpl: #}
{% extends "base.html" %}


{% block head %}

{% set expr, *_ = echo %}

<script src="{{ static_url("show.js") }}"></script>
<title>{{ expr }}</title>

{% end %}


{% block body %}

{% set _, cls, value, attrs = echo %}
{% set fmt = (expr + ".{}" if expr else "{}").format %}

<h2><a href="/hub_show">Show</a></h2>

<p><code>{{ expr }} {{ cls }}</code></p>
<p><code>{{ value }}</code></p>

<ul>
    {% for k in sorted(attrs) %}
    <li><a href="?{{ fmt(k) }}">{{ k }}</a></li>
    {% end %}
</ul>

{% end %}
