{# vim:se filetype=html.tornadotmpl: #}
{% extends "base.html" %}

{% block head %}

<title>status</title>

{% end %}


{% block body %}

<table class="pure-table pure-table-horizontal">
    <thead><tr> <th>object</th> <th>history</th> </tr></thead>

    <tbody>
    {% for obj, history in sorted(recorder.items(), key=lambda x: x[1][-1], reverse=True) %}
    <tr>
        <td>{{ obj }}</td>
        <td>{{ str(list(history)).strip("[]") }}</td>
    </tr>
    {% end %}
    </tbody>
</table>

{% end %}
