<!DOCTYPE HTML>
<meta charset="utf-8">
<link rel="stylesheet" href="static/bb.css">
<title>HUB</title>

<p>
<form method="post">
    <fieldset>
        <legend>To hub</legend>
        <select name="cmd" size="{{ len(options) }}">
            {% for b in options %}
            <option>{{ b }}</option>
            {% end %}
        </select>
        <input name="args" id="txt1">
        <input name="args" id="txt2">
        <textarea name="args" id="txt3" rows=4></textarea>
        <input type="submit" value="Go">
    </fieldset>
</form>
</p>

<p>
<fieldset>
    <legend>History</legend>
    {% for t, c, a, e in history %}
    <p>
    <b>{{ c }}</b> <i>{{ a }}</i> <small>{{ t }}</small> <br>
    {{ e }}
    </p>
    {% end %}
</fieldset>
</p>
