<!DOCTYPE HTML>
{# vim:se syntax=html.tornadotmpl: #}

<meta charset="utf-8">
<link rel="stylesheet" href="/static/bb.css">

<title>bb</title>

{% for x in ["web", "hub", "log"] %}
<a href="/{{ x }}_status" target="_blank">{{ x }}</a>
{% end %}

<hr>

<p>
<a href="/hub" target="_blank">HUB</a>
</p>

<hr>

<p>
<a href="/io" target="_blank">IO</a>
</p>

<hr>

<form action="/t">
    <input name="_" value="1">
    <input name="_" value="token">
    <input type="submit" value="gen token">
</form>

<hr>

<form method="post" target="_self">
    {% for b in options %}
    <input type="radio" name="cmd" value="{{ b }}" id="{{ b }}">
    <label for="{{ b }}">{{ b }}</label>
    <br>
    {% end %}
    <input type="submit" value="Go">
</form>

<hr>

<p>{{ qsize }}</p>
<p>{{ list(staffs.keys()) }}</p>
<p>{{ list(wheels.keys()) }}</p>

